:root {
    --cor1: #F2059F;
    --cor2: #0E0D40;
    --cor3: #30D98A;
    --cor4: #F2B705;
    --cor5: #F28705;
    --cor6: #ffffff;
    --cor7: #000000;  
    --cor8: #0e0d40ec;  
    --cor9: #4CAF50;
    
}
body {
    margin-top: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: var(--cor8);
    
}

#pergunta {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--cor5);
    
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color:var(--cor2);
    color: var(--cor4);
    border: none;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color:var(--cor4);
    color: var(--cor7);
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

footer
{
    margin-top: 180px;
}
#img-ciencias{
    border-radius: 50%;
}
main{
    border: 2px solid var(--cor1);
    padding: 20px;
    
}
/* Centraliza o botão sobre a imagem */
.container {
    position: relative; /* Torna o container um contêiner de posicionamento */
  }
  
  #img-parabens {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
  }
  
  .btn-jogar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Estilos do botão */
    opacity: 0; /* Inicialmente, o botão estará invisível */
    transition: opacity 0.5s ease-in-out; /* Adiciona uma transição suave */
    padding: 30px;
  }
  #resposta1:active,#resposta2:active,#resposta3:active,#resposta4:active{
    
    background-color: var(--cor1);

  }
  #resposta1:hover,#resposta2:hover,#resposta3:hover,#resposta4:hover {
    animation: changeColor 1s forwards;
}

@keyframes changeColor {
    0% {
        
        background-color:var(--cor4);
        color: var(--cor7);
    }
    100% {
        background-color:var(--cor2);
        color: var(--cor4);
    }
}
#img-venceu{
    width: 100%;
}