:root {
    --cor1: #F2059F;
    --cor2: #0E0D40;
    --cor3: #30D98A;
    --cor4: #F2B705;
    --cor5: #F28705;
    --cor6: #ffffff;
    --cor7: #000000;  
    --cor8: #ffffff7d;  
    --cor9: #0e0d40c8;
    --cor10: #f2b70578;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--cor9);
    margin-top: 100px;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    border: 2px solid var(--cor1);    
    margin: 0px;
    
}

.card {
    width: 100px;
    height: 100px;
    background-color:var(--cor4);
    border: 2px solid var(--cor7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card img {
    display: none;
    width: 100%;
    height: 100%;
}
.card:hover{
    animation: changeColor 1s forwards;
}
@keyframes changeColor {
    0% {
        
        background-color:var(--cor5);
        color: var(--cor7);
    }
    100% {
        background-color:var(--cor4);
        color: var(--cor6);
    }
}
#jogo-memoria{
    color: var(--cor5);
}
@media screen and (max-width: 768px) {
    .game-board {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-gap: 10px;
        border: 2px solid var(--cor1);    
        margin: 0px;
        
    }
}
