/* Reset básico e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

:root {
    --cor1: #F2059F;
    --cor2: #0E0D40;
    --cor3: #30D98A;
    --cor4: #F2B705;
    --cor5: #F28705;
    --cor6: #ffffff;
    --cor7: #000000;  
    --cor8: #ffffff7d;  
    --cor9: #0e0d40c8;
    --cor10: #f2b70578;
}

a {
    text-decoration: none;
    color: var(--cor1);
}



#inicio {
    text-decoration: none;
    color: var(--cor4);
}

/* Estilização geral do corpo */
#fundo-inicio {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;    
    
    background-position: cover;
    background-repeat: repeat-y; /* Repete a imagem verticalmente */
    background-attachment: fixed; /* Para o efeito parallax */
    background-position:  center; /* Alinha à lateral esquerda */
    
}

/* Estilização do cabeçalho fixo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor2);
    color: var(--cor6);
    padding: 15px 20px;
    z-index: 1000;
}

/*inicio do site*/
#home {
    margin-top: 100px;
    text-align: center;
    color: var(--cor7);
    padding: 30px;
}
#inicio-nav {
    color: var(--cor5);
}

/*titulo do home*/
#titulo-home {
    margin-bottom: 20px;    
}

/* Container para centralizar itens no cabeçalho */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor4);
}

/* Estilização da logo */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* Estilização do título */
h1 {
    font-size: 24px;
}

/* Estilização do menu de navegação */
nav {
    position: relative;    
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--cor4);
}

.menu-toggle {
    display: block;
}

.menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cor2);
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.menu.expanded {
    max-height: 500px;
}

.menu li {
    margin: 0;
    padding: 10px 20px;
    border-top: 1px solid var(--cor2);
}

.menu a {
    color: var(--cor6);
    text-align: left;
}

/* Estilização das seções */
.section {
    margin-top: 100px;
    padding: 20px;
}

/* Estilização específica das seções Sobre e Contato */
#sobre, #contato {
    padding: 40px;
    background-color: var(--cor8);
    border-radius: 8px;
    margin: 20px auto;
    
}

/* Estilização do formulário de contato */
#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: var(--cor4);
}

#form label {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
    }

#form input,
#form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cor8);
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

#button {
    background-color: var(--cor4);
    color: var(--cor7);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

#button:hover {
    background-color: var(--cor5);
    color: var(--cor1);
}

#contact {
    margin-top: 100px;
    text-align: center;
    color: var(--cor7);
}

footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#contato-nav {
    color: var(--cor5);
}

/* Estilo geral para os jogos */
.jogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--cor6);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.5;    
    background-color: var(--cor8);
    border: 2px solid var(--cor2);
    color: var(--cor2);
}

.jogo .texto, 
.jogo .imagem {
    flex: 1;
}

.jogo .texto {
    padding: 20px;
}

.jogo .imagem {
    display: flex;
    justify-content: center;
}

.jogo .imagem img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

/* Alternância entre texto e imagem */
#jogo1, #jogo3 {
    flex-direction: row-reverse;
}

#jogo2, #jogo4 {
    flex-direction: row;
}

#img-jogo-mobile, #aprensetacao-mobile {
    display: none;
}

/* Ajustes de layout para telas menores */
@media screen and (max-width: 768px) {
    .jogo {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .jogo .imagem img {
        max-width: 100%;
        height: auto;
    }

    .jogo .texto {
        padding: 10px;
    }
    #img-jogo-desktop, #aprensetacao-desktop{
        display: none;
    }
    #img-jogo-mobile, #aprensetacao-mobile {
        display: block;
    }  
    .menu-toggle {
        display: none;
        font-size: 30px;
        cursor: pointer;
        color: var(--cor4);
        margin-left: -55px;
    }
    
    .menu-toggle {
        display: block;
    }

    /* Menu mobile */
    
}
.intro{
    font-size: 20px;
    color: var(--cor7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--cor2); /* Cor do fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: var(--cor4); /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas da parte móvel */
}
